In [1]:
import requests

In [70]:
import pandas as pd
import numpy as np

In [43]:
payload = {'format':'json','countyCd':'48201','period':'P7D',
           'statCd':'00003','parameterCd':'00060','siteStatus':'all'}

In [3]:
url = 'https://waterservices.usgs.gov/nwis/dv'

In [44]:
r = requests.get(url, params=payload)

In [46]:
injs = r.json()

In [53]:
injs['value']['timeSeries'][0]['values'][0]['value']

[{u'dateTime': u'2017-11-30T00:00:00.000',
  u'qualifiers': [u'P'],
  u'value': u'2.02'},
 {u'dateTime': u'2017-12-01T00:00:00.000',
  u'qualifiers': [u'P'],
  u'value': u'2.19'},
 {u'dateTime': u'2017-12-02T00:00:00.000',
  u'qualifiers': [u'P'],
  u'value': u'1.93'},
 {u'dateTime': u'2017-12-03T00:00:00.000',
  u'qualifiers': [u'P'],
  u'value': u'4.58'},
 {u'dateTime': u'2017-12-04T00:00:00.000',
  u'qualifiers': [u'P'],
  u'value': u'18.7'},
 {u'dateTime': u'2017-12-05T00:00:00.000',
  u'qualifiers': [u'P'],
  u'value': u'14.7'},
 {u'dateTime': u'2017-12-06T00:00:00.000',
  u'qualifiers': [u'P'],
  u'value': u'12.5'}]

In [57]:
sitelat=[];
sitelong=[];
for s in injs['value']['timeSeries']:
    sitelat.append(s['sourceInfo']['geoLocation']['geogLocation']['latitude'])
    sitelong.append(s['sourceInfo']['geoLocation']['geogLocation']['longitude'])

In [86]:
vals=[];
datetimes=[];
for s in injs['value']['timeSeries']:
    val = [];
    dat = [];
    for v in s['values'][0]['value']:
        val.append(float(v['value']))
        dat.append(v['dateTime'])
    vals.append(val)
    datetimes.append(dat)

In [89]:
vals[0]

[2.02, 2.19, 1.93, 4.58, 18.7, 14.7, 12.5]

In [42]:
plt.plot

,agency_cd,site_no,datetime,134429_00060_00003,134429_00060_00003_cd,134430_00065_00003,134430_00065_00003_cd
0,5s,15s,20d,14n,10s,14n,10s
1,USGS,08074500,2017-11-30,46.3,P,7.77,P
2,USGS,08074500,2017-12-01,43.2,P,7.72,P
3,USGS,08074500,2017-12-02,43.2,P,7.72,P
4,USGS,08074500,2017-12-03,329,P,8.90,P